<!-- Page Content -->
<section id="{{ page.section-type }}" class="container content-section text-center">
    {{ page.content | markdownify }}

    <div class="row">
      {% for project in site.projects %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top img-responsive" src="{{ site.baseurl }}{{ project.image }}" alt="">
            <div class="card-body">
              <h2 class="card-title" id="project-title">{{ project.title }}</h2>
              <p class="card-text" id="project-desc">{{ project.description }}</p>
              <a class="project-link" target="_blank" href="{{ project.link }}">Source Code<i class="fa fa-code fa-fw"></i></a>
            </div><br><br>
          </div>
        </div>
      {% endfor %}
    </div>
</section>
  